<div class="page-layout">
  <div class="container">
    <div class="page-layout__content">
      <div class="page-layout__header">
        <div class="page-layout__info">
          <h2 class="page-layout__title">Fase teste prático Front_end</h2>
          <p class="page-layout__description">pokebusca</p>
        </div>
        <div class="page-layout__search-container">
          <input #searchInput type="text" placeholder="Buscar" (keyup.enter)="onSearchInput(searchInput.value)">
          <button class="material-symbols-outlined lupa" (click)="onSearchInput(searchInput.value)">
            search
          </button>
        </div>
      </div>
      <div class="page-layout__itens-quantity">
        <p>Exibindo {{atual}} de {{total}}</p>
      </div>
      <app-pokedex-list [searchTerm]="searchTerm" (totalDataEvent)="receiveTotalDataFromPokelist($event)" (currentTotalDataEvent)="receiveCurrentDataFromPokelist($event)"></app-pokedex-list>
    </div>
  </div>
</div>