<div class="page-layout">
  <div class="container">
    <div class="page-layout__content">
      <div class="page-layout__header">
        <div class="page-layout__info">
          <h2 class="page-layout__title">Fase teste prático Front_end</h2>
          <p class="page-layout__description">pokebusca</p>
        </div>
        <div class="page-layout__search-container">
          <input type="text" placeholder="Buscar">
          <span class="material-symbols-outlined lupa">
            search
          </span>
        </div>
      </div>
      <div class="page-layout__itens-quantity">
        <p>Exibindo {{atual}} de {{total}}</p>
      </div>
      <app-pokedex-list (totalDataEvent)="receiveTotalDataFromPokelist($event)" (currentTotalDataEvent)="receiveCurrentDataFromPokelist($event)"></app-pokedex-list>
    </div>
  </div>
</div>