<div class="poke-card">
  <div class="poke-card__figure">
    <img class="logo-img" [src]="url_img" />
  </div>
  <div class="poke-card__content">
    <h2 class="poke-card__title">
      {{ nome }} #{{ code }}
    </h2>
    <p class="poke-card__description">
      Características do pokemon dolor sit amet, consectetur adipiscing elit. In ultricies nunc at odio tempor tincidunt. Sed sit amet dolor velit. Donec convallis tellus ut porta molestie. Suspendisse condimentum et dui in aliquam.
    </p>
  </div>
</div>